extends base 

block content 
    div.centered
        div.position 
            div.title 
                a(href=`/btn0/${questions[0].slug}`)
                    h1 Quiz App 

            div.quiz 
                div.bg-red

                h3#result= `Questions ${questions[1].score + 1}/4`

                p#question= questions[1].title

                div#res-1.res
                    button.chooses#btn(name='programming-language')= questions[1].right
                div#res-1.res
                    button.chooses#btn(name='markup-language')= questions[1].btn2
                div#res-1.res 
                    button.chooses#btn(name='robotic-language')= questions[1].btn3
                div#res-1.res
                    button.chooses#btn(name='machine-language')= questions[1].btn4

                div.next 
                    a#next(href=`/btn2/${questions[2].slug}`) Next